/gradlew.bat
/gradlew
/.idea/.gitignore
/.idea/.name
/build/classes/java/main/animal/Animal.class
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/build/classes/java/main/animal/Cat.class
/.gradle/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
/build/classes/java/main/animal/Dog.class
/build/classes/java/main/animal/birds/Duck.class
/.gradle/7.1/executionHistory/executionHistory.bin
/.gradle/7.1/executionHistory/executionHistory.lock
/.gradle/7.1/fileHashes/fileHashes.bin
/.gradle/7.1/fileHashes/fileHashes.lock
/build/classes/java/main/animal/birds/FlyBehavior.class
/build/classes/java/main/animal/birds/FlyWithWings.class
/.gradle/7.1/dependencies-accessors/gc.properties
/.gradle/7.1/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/jarRepositories.xml
/.gradle/7.1/fileChanges/last-build.bin
/build/classes/java/main/Main.class
/build/classes/java/main/animal/birds/MallardDuck.class
/.idea/misc.xml
/build/classes/java/main/animal/birds/MuteQuack.class
/build/classes/java/main/animal/birds/NoFlyDuck.class
/.gradle/buildOutputCleanup/outputFiles.bin
/build/tmp/compileJava/previous-compilation-data.bin
/build/classes/java/main/animal/birds/Quack.class
/build/classes/java/main/animal/birds/QuackBehavior.class
/.idea/runConfigurations.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
